Flask==2.3.3
Flask-SocketIO==5.3.6

gunicorn==21.2.0
eventlet==0.35.2

pymongo[srv]==4.6.1
dnspython==2.6.1

python-dotenv==1.0.1

cloudinary

bleach==6.1.0
flask-wtf==1.2.1
flask-limiter==3.7.0

redis

bcrypt
